$primary: #d2451e;
$white: #f3f2ea;
$warning: #ffd17f;
$dark: #6d6f79;
$black: #444;

$family-narrow: 'Roboto Condensed', sans-serif;
$family-body: 'Roboto', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|&display=swap');

html, body {
    font-family: $family-narrow;
}

cp-fieldcontainer label {
    font-size: 18px;
    font-family: $family-body;
}

.app-header {
    background-color: $primary;
    border-top-width: 0 !important;
    .app-name,
    .app-search ::placeholder,
    .app-search i,
    .app-search input,
    .app-modulesbar * {
        color: $white !important;
    }

    .app-name {
        font-size: 18px;
        font-family: $family-body;
    }

    .app-modulesbar {
        > li > .uk-active:after {
            border-bottom-color: $warning;
        }
        .uk-dropdown {
            > li {
                &, a {
                    color: $black !important;
                    &:hover {
                        color: $white;
                    }
                }
                &.uk-nav-header {
                    color: $dark !important;
                }
            }
        }
    } 
    
    .app-logo {
        background-position: center;
        background-image: url('https://res.cloudinary.com/heavy-craft/image/upload/v1565220597/Heavy%20Craft/monogram_no-hex_white-32x23.png');
    }

    .autocomplete input[type="text"] {
        font-weight: bold;
    }
}

.uk-tab {
    overflow-x: auto;
    overflow-y: hidden;
}

.uk-text-small {
    font-size: 14px;
}

.uk-badge {
    font-family: $family-body;
    font-size: 12px;
    padding: 3px 12px
}

h3, .uk-h3 {
    font-size: 32px;
    line-height: 1.1;
}

.login-image {
    background-image: url('https://res.cloudinary.com/heavy-craft/image/upload/v1565220597/Heavy%20Craft/monogram_no-hex_white-32x23.png');
}

cp-field[type=modulelink] {
    p {
        margin-top: 1em;
    }
}