$primary: #d2451e;
$white: #f3f2ea;
$warning: #ffd17f;

@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|&display=swap');

html, body {
    font-family: 'Roboto Condensed', sans-serif;
}

cp-fieldcontainer label {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.app-header {
    background-color: $primary;
    .app-name,
    .app-search ::placeholder,
    .app-search i,
    .app-search input,
    .app-modulesbar * {
        color: $white !important;
    }

    .app-name {
        font-size: 18px;
    }

    .app-modulesbar > li > .uk-active:after {
        border-bottom-color: $warning;
    }
    
    .app-logo {
        background-position: center;
        background-image: url('https://res.cloudinary.com/heavy-craft/image/upload/v1565220597/Heavy%20Craft/monogram_no-hex_white-32x23.png');
    }

    .autocomplete input[type="text"] {
        font-weight: bold;
    }
}

.uk-text-small {
    font-size: 14px;
}

h3, .uk-h3 {
    font-size: 32px;
    line-height: 1.1;
}